*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"poppins";
}

html,body{
    /* height: 100dvh; */
    background: linear-gradient(to top left, green, white, orange);
}

/* Login Form */

#heading{
    margin-bottom: .5rem;
    color: white;
    letter-spacing: .8rem;
}
.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
} 
.log-container{
    max-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid white;
    border-radius: .5rem;
    box-shadow: 0 0 1rem white;
    padding: clamp(1.5rem, 2vw, 2rem) clamp(2rem, 4vw, 3rem);
}
.log-container .header{
    color: green;
    font-size: .8rem;
    margin-bottom: 1rem;
}
.log-container .logform #loginform input{
    text-align: left;
    padding: .5rem 2.5rem;
    margin-bottom: .4rem;
    outline: none;
    border: none;
    font-size: .7rem;
    background-color: rgb(229, 229, 229);
    border-radius: .3rem;
    font-weight: 600;
}
.log-container .logform #loginform button{
    width: 100%;
    padding: .4rem;
    font-weight: 600;
    font-size: .7rem;
    outline: none;
    border: none;
    background-color: orange;
    box-shadow: 0 0 .4rem orange inset;
    border-radius: .3rem;
    color: white;
    transition: .1s ease-in-out;
}
.log-container .logform #loginform button:hover{
    background-color: green;
    box-shadow: 0 0 .3rem green;
}
.para{
    font-size: .7rem;
    margin-top: 1rem;
    font-weight: 600;
    /* border: .1rem solid #000; */
    display: flex;
    justify-content: space-between;
}
.para p{
    color: green;
    font-weight: 600;
}
.para a{
    text-decoration: none;
    color: orange;
    margin-left: 1rem;
    transition: .1s ease-in-out;
}
.para a:hover{
    color: green;
}

/* Registration Form */
.register-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reg-container{
    max-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid white;
    border-radius: .5rem;
    box-shadow: 0 0 1rem white;
    padding: clamp(1.5rem, 2vw, 2rem) clamp(2rem, 4vw, 3rem);
}

.reg-container .header{
    font-size: .8rem;
    margin-bottom: 1rem;
    color: green;
}
.reg-container .regform #registerform{
    display: flex;
    flex-direction: column;
}
.reg-container .regform #registerform input{
    text-align: left;
    padding: .5rem 2.5rem;
    margin-bottom: .4rem;
    outline: none;
    border: none;
    font-size: .7rem;
    background-color: rgb(229, 229, 229);
    border-radius: .3rem;
    font-weight: 600;
}

.reg-container .regform #registerform button{
    width: 100%;
    padding: .4rem;
    font-weight: 600;
    font-size: .7rem;
    outline: none;
    border: none;
    background-color: orange;
    box-shadow: 0 0 .4rem orange inset;
    border-radius: .3rem;
    color: white;
    transition: .1s ease-in-out;
}
.reg-container .regform #registerform button:hover{
    background-color: green;
    box-shadow: 0 0 .3rem green;
}
.reg-container .regform #registerform select{
    color: gray;
    width: 100%;
    font-size: .7rem;
    font-weight: 600;
    background-color: #fff;
    background-color: rgb(229, 229, 229);
    padding: .35rem;
    border-radius: .4rem; 
    border: none;
    outline: none;
    margin-bottom: .6rem;   
}

/* user-dashboard */

.user-dash-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2.5rem;
}

.user-container{
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .3rem;
    border: .05rem solid white;
    padding: clamp(1.5rem, 2vw, 2.5rem) clamp(2.5rem, 5vw, 3rem);
    box-shadow: 0 0 .5rem orange;
}

.user-container .sec-1{
    margin: 1rem;
    /* border: .1rem solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-1 h2{
    color: green;
}
.sec-1 p{
    color: green;
    font-weight: 600;
}
.sec-1 p span{
    color: orange;
}
.sec-1 #logout-btn{
    width: 100%;
    padding: .4rem;
    font-weight: 600;
    font-size: .7rem;
    outline: none;
    border: none;
    background-color: orange;
    box-shadow: 0 0 .4rem orange inset;
    border-radius: .3rem;
    color: white;
    transition: .1s ease-in-out;
}
.sec-1 #logout-btn:hover{
    background-color: green;
    box-shadow: 0 0 .3rem green;
}
.user-container .sec-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1rem solid white;
    padding: 1.5rem 2.5rem;
    background-color: white;
    border-radius: .3rem;
}
.sec-2 h3{
    color: orange;
}
.sec-2 ul li{
    color: green;
    font-weight: 600;
    margin-top: .5rem;
    list-style-type:square;
    font-size: .9rem;
}
.sec-2 ul li button{
    margin-left: 1rem;
    padding: .2rem .8rem;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    font-weight: 600;
    border-radius: .3rem;
}

.sec-2 ul li button:hover{
    background-color: green;
    box-shadow: 0 0 .3rem green;
}
.user-container .sec-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1rem solid white;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: .3rem;
    margin-top: 1rem;
}
.sec-3 h3{
    color: orange;
}
.sec-3 ul li{
     color: green;
    font-weight: 600;
    margin-top: .5rem;
    list-style-type:decimal;
    font-size: .8rem;
}

/* admin-dashboard */
.admin-dash-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.admin-container{
    border-radius: .3rem;
    border: .05rem solid white;
    padding: clamp(1.5rem, 2vw, 2.5rem) clamp(2rem, 4vw, 2.5rem);
    box-shadow: 0 0 .5rem orange;
}
.admin-container .sec-1{
    margin:1rem;
    /* border: .1rem solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1rem solid white;
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: .3rem;
}
.sec-1 p{
    margin-bottom: .5rem;
}
.sec-2 h3{
    font-size: 1.3rem;
    margin-bottom: .7rem;
}
.sec-2 #event-form{
    display: flex;
    flex-direction: column;
}
.sec-2 #event-form input{
    width: 100%;
    text-align: left;
    padding: .5rem 2.5rem;
    margin-bottom: .4rem;
    outline: none;
    border: none;
    font-size: .7rem;
    background-color: rgb(229, 229, 229);
    border-radius: .3rem;
    font-weight: 600;
}
.sec-2 #event-form button{
    width: 100%;
    padding: .4rem;
    font-weight: 600;
    font-size: .7rem;
    outline: none;
    border: none;
    background-color: orange;
    box-shadow: 0 0 .4rem orange inset;
    border-radius: .3rem;
    color: white;
    transition: .1s ease-in-out;
}
.sec-2 #event-form button:hover{
    background-color: green;
    box-shadow: 0 0 .3rem green;
}
.sec-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1rem solid white;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: .3rem;
    margin-top: 1rem;
}
.sec-3 ul li button{
    margin-left: 1rem;
    padding: .2rem .8rem;
    border: none;
    outline: none;
    font-size: .7rem;
    background-color: orange;
    color: white;
    font-weight: 600;
    border-radius: .3rem;
}
.sec-3 ul li button:hover{
    background-color: green;
    box-shadow: 0 0 .3rem green;
}

@media(max-width:479px){
    .login-container #heading{
        letter-spacing: .5rem;
        margin-bottom: 1.5rem;
    }
    .log-container{
        width: 80vw;
    }
    .reg-container{
        width: 80vw;
    }
    .register-container #heading{
        letter-spacing: .4rem;
        margin-bottom: 2rem;
    }
    /* .reg-container{
        padding: 2rem 3rem;
    } */
    .user-dash-container{
        height: 100vh;
    }
    /* .user-container{
        padding: 2rem 2rem;
    } */
    
    .user-container .sec-2 h3{
        font-size: 4vw;
        text-align: center;
        margin-bottom: .4rem;   
    }
    .user-container .sec-2 ul li{
        font-size: .6rem;
    }
    .sec-2 ul li button{
        font-size: .4rem;
        padding: .1rem .6rem;
        width: 80%;
        margin-top: .5rem;
    }
    .sec-3 h3{
        font-size: 4rem;
    }
    .sec-3 ul li{
        font-size: .6rem;
    }

    .admin-dash-container{
        height: 100vh;
    }
    /* .admin-container{
        padding: 2rem 2rem;
    } */
    .sec-1 h2{
        font-size: 4.5vw;
        margin-bottom: .5rem;
    }
    .sec-2 h3{
        font-size: vw;   
    }
    .sec-2 ul li{
        font-size: .5rem;
    }
    /* .sec-2 #event-form input{
        width: 80vw;
    } */
    .sec-2 ul li button{
        font-size: .6rem;
        padding: .1rem .6rem;
    }
    .sec-3 h3{
        font-size: 4vw;
    }
    .sec-3 ul li{
        font-size: .8rem;
    }
}